#game_view {
  display: flex;
  min-width: calc(100% - 35px);
  height: calc(100% - 1px);
}

#score_view {
  width: calc(20%);
}

#drawing_view {
  width: calc(60%)
}

#chat_view {

}

.chat_item {
  font-size: medium;
  width: calc(100%);
  word-wrap: break-word;
}

#elm-mdl-layout-main {
  overflow: hidden;
}

.mdl-layout__content {
  height: 100%
}

header :nth-child(1) {
  transform: translate(1%, 70%);
  font-weight: bold;
  font-size: x-large;
}
