#game_view {
  display: flex;
  min-width: calc(100% - 35px);
  height: calc(100% - 1px);
}

#score_view {
  width: calc(20%);
}

#drawing_view {
  width: calc(60%)
}

#chat_view {

}

#elm-mdl-layout-main {
  overflow: hidden;
}

.mdl-layout__content {
  height: 100%
}
