#game_view {
  display: flex;
  min-width: calc(100% - 35px);
  height: calc(100% - 1px);
}

#score_view {
  width: calc(20%);
}

#drawing_view {
  width: calc(60%)
}

#chat_view {

}

.word {
  display: block;
  white-space: nowrap;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 0px;
  transform: translate(120%);
}

.letter {
  display: inline-block;
  color: transparent;
  border-bottom: 5px solid white;
  margin: 0 10px;
  font-size: 50px;
  padding-bottom: 35px;
  text-transform: uppercase;
  width: 32px;
  height: 0px;
}

.correct {
  color: white;
  text-shadow: 1px 2px 0 white
  animation: letteranim .3s ease;
}

.chat_item {
  font-size: medium;
  width: calc(100%);
  word-wrap: break-word;
}

#elm-mdl-layout-main {
  overflow: hidden;
}

.mdl-layout__content {
  height: 100%
}

#app_name {
  transform: translate(1%, 70%);
  font-weight: bold;
  font-size: x-large;
}
